# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Python packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Test / cache
.pytest_cache/

# IDEs and system
.idea/
*.swp
.DS_Store

# Secrets / env
.env
.env.*